<nav>
  <div class="site-title">
    <a href="/"><h1>Ramzy's Blogs</h1></a>
    
    <p>A site for viewing the blogs of new jobs in the area </p>
  </div>

  <ul>
    
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create a Blog</a></li>
  </ul>
</nav>