<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>It is a blog website used for talking about jobs in my area .</p>
    <p>It shows the potential jobs that are found and the expected salary for each one</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>